
//TODO: Think about moving this to the separte global file and importing i.e. @import "./colour"
$calvin-dark-pri: #172026;
$calvin-dark-sec: #3F403F;
$calvin-light-pri: #E6E8E6;
// $calvin-light-sec: #DCE5EC
$calvin-light-sec: #d1d2d4;
$calvin-primary-darker: #1B3B52;
$calvin-primary-dark: #3C688E;
$calvin-primary-light: #8DB0C7;
$calvin-primary-lighter: #AEC0CB;

.flexcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projectitem{
  width: 80vw;
  min-height: 50vh;
  // height: fit-content
  // max-height: 75vh
  background-color: $calvin-light-sec;
  transform-style: "preserve-3d";
  margin: 2em;
  opacity: 1;
  box-shadow: inset 0px 0px 5em 10px rgba(0, 0, 0, 0.4);
}

.summary-holder{
  margin: auto;
  width: 80%;
}

.see-more-button{
  background-color: $calvin-primary-lighter;
  &:hover{
    background-color: $calvin-primary-light;
  }
}

/* FOR DESTOP */
@media only screen and (min-width: 768px) {
  .projectitem {
    width: 30vw;
    max-width: 300px;
    // min-height: 30vw
    max-height: 65vw;
    background-color: $calvin-light-pri;
    transform-style: "preserve-3d";
    margin: 2em;
    opacity: 0.65;
    box-shadow: inset 0px 0px 5em 10px rgba(0, 0, 0, 0.4);
  }
}