.show-z {
    z-index: inherit;
    position: relative;
}

.content-wrapper{
    position: relative;
    // top: 10vh;
    z-index: inherit;
    // width: 100%;
}

.banner-group {
    height: 100vh;
}

.break{
    height: 4em;
}